<h1 align="center"><a href="/">URL Shortener</a></h1>
<br>
<div align="center">
    <form action="url_form" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend align="center">
                <h2> Enter the URL to short</h2>
            </legend>
            {{ formset.original_url }}<br>
            <input type="submit" value="Short me!"><br>

            {% if request.GET.not_valid %}
            <p>The URL <a href="{{ request.GET.not_valid }}">{{ request.GET.not_valid }}</a> is not valid</p>
            {% endif %}

            {% if request.GET.slug %}
            <p>Your shortened URL is: <a href="{{ request.GET.slug }}">{{ host }}/{{ request.GET.slug }}</a></p>
            {% endif %}

        </fieldset>
    </form>
</div>